about-page {
    .scroll-content {
        padding: 0 15px 15px 15px;
        .profile {
            text-align: center;
            img {
                max-height: 250px;
            }
            h4 {
                font-weight: bold;
            }
        }
    }
}