<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>பாரதியார் கவிதைகள்</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <!--<ion-card *ngFor="let page of pages;let $isOdd=odd;let $isEven=even" (click)="itemTapped($event, page)">
    <img col-3 src="../../assets/img/India-flag-2.png" class="highlighter" [attr.float-right]="$isOdd ? true: null" [attr.float-left]="$isEven ? true: null" />
    <ion-card-content col-9>
      <div class="card-title">{{page.title}}</div>
      <div class="card-subtitle">{{page.totalListing}} பட்டியல்கள்</div>
    </ion-card-content>
  </ion-card>-->

  <ion-card class="thumbnail" *ngFor="let page of pages;let $isOdd=odd;let $isEven=even" (click)="itemTapped($event, page)">
    <ion-card-content>
      <div class="card-title">{{page.title}}</div>
      <div class="card-numbers">
        <ion-icon name="book"></ion-icon> <span>{{page.totalListing}}</span></div>
      <div class="card-subtitle">
        பட்டியல்கள்</div>
    </ion-card-content>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab (click)="openSearch()"><ion-icon ios="ios-search" md="md-search"></ion-icon></button>
  </ion-fab>


</ion-content>