<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'FAV' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="true">

  <!--<ion-title #subHeader id="subHeader" class="secondary" text-center>{{ 'FAV' | translate }}</ion-title>-->
  <ion-card *ngIf="favArray.length">
    <ion-list>
      <ion-item-sliding class="item-remove-animate" #slidingItem (ionSwipe)="removeFromFav(song,$index,slidingItem)" *ngFor="let song of favArray; let $index = index;"
        [class.remove]="song.isRemoved">
        <button ion-item (tap)="itemTapped($event, song.key)">
          <ion-icon name="book" item-start></ion-icon>
          {{song.value}}
        </button>
        <ion-item-options side="right">
          <button ion-button color="danger" expandable (tap)="removeFromFav(song,$index,slidingItem)">
            <ion-icon name="md-trash"></ion-icon>
            {{'remove' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
  <div class="info" *ngIf="!favArray.length">
    <ion-icon name="star"></ion-icon>
    <div class="message">
      {{'no_fav_msg' | translate}}
    </div>
  </div>
  <ion-fab right bottom>
      <button ion-fab (tap)="openSearch()"><ion-icon ios="ios-search" md="md-search"></ion-icon></button>
    </ion-fab>
</ion-content>