<div class="modal">
</div>
<ion-content overflow-scroll="true">
  <div (swipe)="onSwipe($event)">
    <figure *ngIf="showLeft">
      <img src="assets/img/swipe_left.png" class="swipeLeft" alt="Swipe Left Icon">
      <figcaption>Swipe Left for the Next song.</figcaption>
    </figure>
    <figure  *ngIf="!showLeft">
      <img src="assets/img/swipe_right.png" class="swipeRight" alt="Swipe Right Icon">
      <figcaption>Swipe Right for the Previous song.</figcaption>
    </figure>
  </div>
</ion-content>