<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedPage">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let key of keys">
      <button ion-item (click)="itemTapped($event, key)">
      <ion-icon name="" item-left></ion-icon>
      <span>{{key}}</span>
     </button>
     <ion-icon name="star-outline" (click)="favClick($event)"></ion-icon>
    </div>
  </ion-list>
</ion-content>