search-page {
    .searchSummary {
        margin: 10px 20px;
    }
    ion-content {
        &.content-md {
            background-color: #fff;
        }
    }
    ion-card-header {
        &.card-header-md {
            font-weight: bold;
            background-color: $secondaryHeading;
            color: $backgroundNorml;
            padding: 5px 15px;
            text-align: center;
            ion-icon {
                font-size: 2em;
            }
            div {
                display: inline-block;
                position: relative;
                top: -5px;
            }
        }
    }
    ion-card {
        .item {
            font-size: $bodyFontSize;
            .item-inner {
                border-bottom: 1px solid #dedede !important;
                margin-left: 5px!important;
            }
        }
    }
    .info {
        text-align: center;
        margin-top: 15px;
        padding: 15px;
        ion-icon {
            font-size: 10em;
            text-align: center;
            color: #dbe2e1;
        }
        .message {
            $color: $secondaryHeading;
            font-weight: bold;
        }
    }
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}